span.cheat-btn {
    margin-left: 24px;
    width: 16px;
    height: 16px;
    background: lawngreen;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}